.cm-s-obsidian .cm-header, .cm-s-obsidian .cm-strong {
  font-weight:600;
}

.empty-state-title,
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-header-1 {
  font-weight:600 !important;
  font-size: 1.6em !important;
}

.markdown-preview-view h2,
.HyperMD-header-2,
.cm-header-2 {
  letter-spacing:-0.02em;
  font-weight:600 !important;
  font-size: 1.48em !important;
}

.markdown-preview-view h3,
.HyperMD-header-3,
.cm-header-3 {
  color:var(--text-normal);
  font-weight:600 !important;
  font-size: 1.36em !important;
}

.markdown-preview-view h4,
.HyperMD-header-4,
.cm-header-4 {
  color:var(--text-normal);
  font-weight: 600 !important;
  font-size: 1.24em;
}

.markdown-preview-view h5,
.HyperMD-header-5,
.cm-header-5 {
  color:var(--text-normal);
  font-weight:600 !important;
  font-size: 1.12em !important;
}

.markdown-preview-view h6,
.HyperMD-header-6,
.cm-header-6 {
  color:var(--text-normal);
  font-weight:600 !important;
  font-size: 1em !important;
}

.theme-dark {
  --text-faint:#f6f5ec;
  --text-normal:#f6f5ec;
  --text-accent: #f6f5ec; 
  --text-accent-hover:#f6f5ec;
  --interactive-accent:#74905d;  /* 主题色 */
  --tx2:#d9d6c3 !important;
}

body {
  --font-ui-smaller:0.75em !important;
  --font-ui-small:0.8em !important;
  --font-ui-medium:0.85em !important;
  --font-ui-larger:0.9em !important;
  --line-width:64% !important;
}